*{
  font-family:
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4286f4, #ac41f4);
}
.spaceadder{
  height: 20px;
}
.everything{
  display: block;
  position: absolute;
  top: 13vh;
  left: 18.5vw;
  background: linear-gradient(to left, #4286f4, #ac41f4);
  width: 80vw;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #9b9da0;
}
#keyboard{
  margin: 0 auto;
  padding: 0;
}
#storeddisplay{
  width:95%;
  height:20px;
  margin: 4px auto 0 auto;
  background-color: inherit;
  width: 715px;
  text-align: right;
  padding-right: 10px;
}
#textview{
  width: 710px;
  height:100px;
  margin: 4px auto 0 auto;
  background-color: white;
  border-radius: 5px;
  border: 3px solid black;
  text-align: right;
  padding-right: 10px;
  font-size: 80px;
}
.button{
  width:100px;
  height:100px;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  border-radius: 50%;
}
.rowspanbutton{
  width:100px;
  height:204px;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  border-radius: 50%;
}
.zerobutton{
  width:204px;
  height:100px;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  border-radius: 50%;
}
#tan{
  width:300px;
  height:100px;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  border-radius: 50%;
}
